body {
  margin: 40px 60px;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.second__search {
  display: flex;
  justify-content: flex-start;
}

.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin: 10px;
  border: none;
  border-radius: 5px;
}
.Search--ingredients {
  background-color: #3282F7;
}
.Search--appliances {
  background-color: #68D9A4;
}
.Search--ustensils {
  background-color: #ED6454;
}

.dropbtn {
  width: 100%;
  height: 70px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 20px;
  outline: none;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-color: #ffffff;
}
.dropbtn::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.dropbtn:focus {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  border-color: #ffffff;
}
.dropbtn--ingredients {
  background-color: #3282F7;
}
.dropbtn--appliances {
  background-color: #68D9A4;
}
.dropbtn--ustensils {
  background-color: #ED6454;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 220px;
  margin: 10px;
}

.searchArrow {
  position: relative;
  right: 40px;
  color: #ffffff;
  cursor: pointer;
}

.options {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-height: 400px;
  height: 100%;
  width: auto;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 10px;
  overflow: auto;
}

.option__ingredients {
  margin: 2px 8px 2px 2px;
  cursor: pointer;
}

.option__appliances {
  margin: 2px 8px 2px 2px;
  cursor: pointer;
}

.option__ustensils {
  margin: 2px 8px 2px 2px;
  cursor: pointer;
}

.secondSearch__results {
  display: flex;
  justify-content: flex-start;
}
.secondSearch__results__select {
  border-radius: 5px;
  width: 107px;
  height: 37px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 5px;
}
.secondSearch__results .ingredients {
  background: #3282F7;
}
.secondSearch__results .appliances {
  background: #68D9A4;
}
.secondSearch__results .ustensils {
  background: #ED6454;
}
.secondSearch__results__text {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.deleteSelectedResult {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: auto;
}
.main__logo__img {
  width: 50px;
  height: 47px;
}
.main__logo__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #D04F4F;
}

.main__search {
  width: 100%;
  height: 70px;
  background: #E7E7E7;
  border-radius: 5px;
  margin: 10px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-left: 20px;
  outline: none;
}
.main__search::placeholder {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}
.main__search__icon {
  position: absolute;
  top: 162px;
  right: 70px;
  font-size: 170%;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}
.selection__card {
  background: #E7E7E7;
  border-radius: 5px;
  width: 380px;
  height: 364px;
  margin: 30px;
}
.selection__card__img {
  width: 100%;
  min-width: 100%;
  min-height: 180px;
  height: 180px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.selection__card__top {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.selection__card__top__title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-left: 20px;
}
.selection__card__top__time {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 80px;
  align-items: center;
}
.selection__card__bottom {
  display: flex;
  justify-content: space-between;
}
.selection__card__bottom__ingredients {
  max-width: 50%;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  margin-left: 20px;
}
.selection__card__bottom__recipe {
  max-width: 35%;
  height: 96px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-right: 20px;
  overflow: hidden;
}

.list__element {
  display: flex;
  justify-content: flex-start;
}
.list__element__name {
  width: fit-content;
}
.list__element__quantity {
  font-weight: normal;
  margin-left: 2px;
}

/*# sourceMappingURL=style.css.map */
