input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.second__search {
    display: flex;
    justify-content: flex-start;
}

.Search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin: 10px;
    border: none;
    border-radius: 5px;
    // inline-size: 500px;

    &--ingredients {
        background-color: $ingredientsColor;
    }

    &--appliances {
        background-color: $appliancesColor;
    }

    &--ustensils {
        background-color: $ustensilsColor;
    }
}

.dropbtn{
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 20px;
    outline: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $textColor;
    border-color: $textColor;

    &::placeholder {
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $textColor;
    }
        &:focus{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: $textColor;
        border-color: $textColor;
    }
    &--ingredients {
        background-color: $ingredientsColor;

    }

    &--appliances {
        background-color: $appliancesColor;
    }

    &--ustensils {
        background-color: $ustensilsColor;
    }
}

.searchBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 220px;
    margin: 10px;
}

.searchArrow {
    position: relative;
    right: 40px;
    color: $textColor;
    cursor: pointer;
}

.options{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 400px;
    height: 100%;
    width: auto;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $textColor;
    margin: 10px;
    overflow: auto;
}
.selected{
    display: none;
}

.option__ingredients{
    margin: 2px 8px 2px 2px;
    cursor: pointer;
}
.option__appliances{
    margin: 2px 8px 2px 2px;
    cursor: pointer;
}
.option__ustensils{
    margin: 2px 8px 2px 2px;
    cursor: pointer;
}

.secondSearch__results{
    display: flex;
    justify-content: flex-start;
    &__select{
        border-radius: 5px;
        width: 107px;
        height: 37px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        padding: 5px;
    }

    .ingredients{
        background: $ingredientsColor;
    }
    .appliances{
        background: $appliancesColor;
    }
    .ustensils{
        background: $ustensilsColor;
    }

    &__text{
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }
}

.deleteSelectedResult{
    cursor: pointer;
}

