.main__search {
  width: 100%;
  height: 70px;
  background: #E7E7E7;
  border-radius: 5px;
  margin: 10px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-left: 20px;
  outline: none;
  @media screen and (max-width:500px) {
  max-width: 350px;
  height: 50px;
  margin-top: 20px;
}

  &::placeholder {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    @media screen and (max-width:500px) {
      font-size: 11px;
    }
  }

  &__icon {
    position: absolute;
    top: 162px;
    right: 70px;
    font-size: 170%;
    @media screen and (max-width:500px) {
      top: 125px;
      right: 20px;
    }

  }
}